/* .box {
    height: 250px;
    width: 100px;
    color: brown;
    background-color: aquamarine;
    border: 1px solid black;
} */

.content {
    background-color: aqua;
}

.newClass {
    background-color: green;
}